.password-form {
  width: 75%;
  height: auto;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.password-title {
  width: 100%;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #021D48;
  font-family: Alibaba Sans;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 800;
  position: relative;
}

.back{
  position: absolute;
  left: 0px;
  top: 0px;
  float: left;
  padding: 0;
  margin-left: 20px;
}

.custom-input {
  background-color: #F4F4F4;
  border-color: #F4F4F4;

  input {
    background-color: #F4F4F4 !important;
    border-color: #F4F4F4 !important;
  }
}

.dataEntryPassword {
  width: 100%;
  height: 80%;
  position: relative;
  margin-top: 0;
  padding-left: 60px;

  .password-input {
    margin-left: 4px;
  }

  .code-input {
    margin-left: 17px;
  }

  .password-button {
    width: 84%;
    background-color: #B2CBFF;
    margin-top: 0;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 20px;
  }
}